
* {
  font-family: Helvetica, Arial, sans-serif;  
}

body{
  text-align: center;
  background-color: lemonchiffon;
  margin:auto
}

header{
  text-decoration: none;
  background-color: #25614F;
  color: lemonchiffon;
  margin-top: 0;
  position:fixed;
  top: 0;
  right: 0;
  height: 40px;
  width: 100%;
  line-height: 10px;
  text-align: right;

}
a {
  text-decoration: none;
  color: #FDF8F5;
}

li{display: inline;
  padding: 0px 20px;
  text-decoration: none;
  
}
main{color:darkblue;
  position:relative;
  top: 20px;

  
}
.soon {
  color: white;
  background-color: #25614F;
  border-bottom: 10px solid darkblue;
  
}

.contactus{
  position: relative;
  margin: 5% 25%;
  padding: 10px;
  border: 15px solid black;
}

form{
  position: absolute top left;
  text-align: justify;
border: solid #ffa500;
border-radius: 20px;
margin: 5% 5%;
padding: 5px;
}

#bolder {
 font-weight: bold;
}

footer {
  position: relative;
  background-color: darkblue;
  border-bottom: solid black;
  color: #FDF8F5;
}
#close{
  color: white;
  font-size: large;
  font-weight: bold;  
};